.about1 div {
  display: inline-block;
  padding-top: 2rem; }
  .about1 div img {
    float: left;
    padding-left: 5rem; }
  .about1 div p {
    color: whitesmoke;
    font: 14px/1.5 "Roboto", sans-serif;
    width: 50%;
    float: right;
    padding-right: 5rem;
    padding-top: 2rem;
    text-align: justify; }

.about2 div {
  display: inline-block; }
  .about2 div img {
    float: right;
    padding: 2rem;
    padding-right: 5rem; }
  .about2 div p {
    color: whitesmoke;
    font: 14px/1.5 "Roboto", sans-serif;
    width: 50%;
    float: left;
    padding-left: 5rem;
    padding-top: 3rem;
    text-align: justify; }

.navbar {
  float: right; }
